body,html {
  height: 100%;
}

body {
  width: 100%;
  margin-top: 80px;
  overflow: hidden;
}

.main-container {
 height: 100%;
 width: 100%;
}

.card-border {
    border-width:3px !important;
}

.card {
    background-color: #dcdcdc;
    min-height: 500px;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}

.deployed {
    border-color: green;
}

.scrolly {
 height: 200px;
 overflow-y: scroll;
}

.scrolly-1 {
 height: 400px;
 overflow-y: scroll;
}

.scrolly-2 {
 height: 400px;
 overflow: scroll;
}

.grid {
  position: relative;
  margin:0 auto;
}
.item {
  display: block;
  position: absolute;
  width: 400px;
  margin: 5px;
  z-index: 1;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.item.muuri-item-dragging .item-content {
  background: blue;
}
.item.muuri-item-releasing .item-content {
  background: blueViolet;
}

#modalDeployStatus .modal-content
{
  min-height:500px;
  min-width:600px;
}

#statusMessages {
    white-space: pre-wrap;
}

.spinner-background {
    background: none repeat scroll 0 0 black;
    position: fixed;
    display: block;
    opacity: 0.5;
    z-index: 900;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.spinner.loading {
  display: none;
  padding: 50px;
  text-align: center;
}

.loading-text {
  width: 109px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 45px);
  text-align: center;
  z-index: 999;
  color: white;
}

.spinner.loading:before {
  content: "";
  height: 110px;
  width: 110px;
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 45px);
  border-width: 8px;
  border-style: solid;
  border-color: #2180c0 #ccc #ccc;
  border-radius: 100%;
  animation: rotation .7s infinite linear;
  z-index: 999;
  margin: -15px auto -65px auto;
  display: block (or flex);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.session_output {
 width: 100%;
 height: 400px;
 background-color: black;
 color: green;
 font-size: 1em;
 //font-weight: bold;
 //font-family: Verdana, Arial, Helvetica, sans-serif;
 border: 5px solid grey;
 overflow:hidden;
 resize: none;
 overflow-y: scroll;
 scrollbar-width: none; /* Firefox */
 -ms-overflow-style: none;  /* IE 10+ */
}

.session_output::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

td.details-control {
    background: url('/static/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/static/images/details_close.png') no-repeat center center;
}

.zoom {
    display: flex;
    position: relative;
}

.zoom img::selection { background-color: transparent; }